@font-face 
{
    font-family: "font_link";
    src: url("../fichiers/giro.otf");
}
@font-face 
{
    font-family: "font_subtitle";
    src: url("../fichiers/old_typer.ttf");
}
@font-face
{
    font-family: "font_text";
    src: url("../fichiers/old_roman.ttf");
}
@font-face
{
    font-family: "font_title";
    src: url("../fichiers/Moria.TTF");
}
div.container
{
    width: 95%;
    margin: auto;
}
header
{
    background-color: #081286;
    padding: 10px 0px 1px 0px;
    border: solid 2px #000;
    border-radius: 25% 25% 0% 0%;
}
header h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: overline underline #ff0;
}

section
{
    display: flex;
    width: 100%;
}
div.navigation
{
    width: 30px;
}
div.navigation ul
{
    list-style: none;
    display: grid;
    margin-left: -35px;
}
div.navigation ul li a
{
    float: right;
    width: 25px;
    height: 30px;
}
div.navigation ul li:nth-child(1)
{
    background-image: url("../fichiers/home_mobile.png");
    background-repeat: no-repeat;
}
div.navigation ul li:nth-child(2)
{
    background-image: url("../fichiers/camion_mobile.png");
    background-repeat: no-repeat;
}
div.navigation ul li:nth-child(3)
{
    background-image: url("../fichiers/codeur_mobile.png");
    background-repeat: no-repeat;
}
div.navigation ul li:nth-child(4)
{
    background-image: url("../fichiers/tete_mobile.png");
    background-repeat: no-repeat;
}
div.navigation ul li:nth-child(5)
{
    background-image: url("../fichiers/recettes_mobile.png");
    background-repeat: no-repeat;
}
div.navigation ul li:nth-child(6)
{
    background-image: url("../fichiers/photos_mobile.png");
    background-repeat: no-repeat;
}

div.content
{
    width: 85%;
    margin: 0px auto 0px auto;
}
div.content h2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #081286;
    text-decoration: overline underline #000;
}
div.content h2 img
{
    vertical-align: text-bottom;
}

footer .credit
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
footer .author
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
}
@media only screen and (min-width: 768px)
{
    div.container
    {
        width: 75%;
    }
    header
    {
        border: solid 5px #000;
    }
    header h1
    {
        text-align: center;
        font-family: "font_title";
        font-size: 30px;
        text-decoration: overline underline 3px #ff0;
    }
    header h2
    {
        font-size: 30px;
        font-family: "font_subtitle";
    }
    div.navigation
    {
        width: 50px;
    }
    div.navigation ul li a
    {
        width: 50px;
        height: 60px;
    }
    div.navigation ul li:nth-child(1)
    {
        background-image: url("../fichiers/home.png");
        background-repeat: no-repeat;
    }
    div.navigation ul li:nth-child(2)
    {
        background-image: url("../fichiers/camion.png");
        background-repeat: no-repeat;
    }
    div.navigation ul li:nth-child(3)
    {
        background-image: url("../fichiers/codeur.png");
        background-repeat: no-repeat;
    }
    div.navigation ul li:nth-child(4)
    {
        background-image: url("../fichiers/tete.png");
        background-repeat: no-repeat;
    }
    div.navigation ul li:nth-child(5)
    {
        background-image: url("../fichiers/recettes.png");
        background-repeat: no-repeat;
    }
    div.navigation ul li:nth-child(6)
    {
        background-image: url("../fichiers/photos.png");
        background-repeat: no-repeat;
    }
    div.content h2
    {
        font-family: "font_subtitle";
        font-size: 30px;
    }

    footer .credit
    {
        font-family: "font_link";
        font-size: 15px;
    }
    footer .author
    {
        font-family: "font_text";
        font-size: 17px;
    }
}