/*  Mes polices  */
@font-face 
{
    font-family: "font_link";
    src: url("../fichiers/giro.otf");
}
@font-face 
{
    font-family: "font_subtitle";
    src: url("../fichiers/old_typer.ttf");
}
@font-face
{
    font-family: "font_text";
    src: url("../fichiers/old_roman.ttf");
}
@font-face
{
    font-family: "font_title";
    src: url("../fichiers/Moria.TTF");
}
/*  Attributions des polices  */
a
{
    font-family: "font_link";
    text-decoration: none;
    color: #081286;
}
h2
{
    font-family: "font_subtitle";
    font-size: 25px;
}
p
{
    font-family: "font_text";
    font-size: 15px;
}
h1
{
    font-family: "font_title";
    font-size: 30px;
}
/*  Pour ordinateurs  */
body
{
    background-color: #081286;
    margin-top: 0px;
}
div.container
{
    width: 1200px;
    margin: auto;
    background-color: #ccc;
}
header, section, footer
{
    border-bottom: double 3px #000;
    padding: 10px 30px;
}
div.title h1
{
    color: #081286;
    text-decoration: overline underline 3px;
    text-align: center;
}
header ul
{
    display: flex;
    justify-content: space-evenly;
}
header ul li
{
    list-style: none;
    padding-top: 5px;
}
header ul li a
{
    padding: 5px 15px;
    border: solid 2px #081286;
    border-radius: 25px 0px 25px 0px;
    color: #000;
}
header ul li a:hover
{
    border-radius:0px 25px 0px 25px;
}
div.subtitle h2
{
    color: #a00;
    text-align: center;
    text-decoration: overline underline 2px ;
}
div.subtitle h2 img
{
    vertical-align: bottom;
}
div.subtitle h2 img.mobile
{
    display: none;
}
footer p
{
    text-align: center;
    color: #000;
}
/*  Pour mobile  */
@media only screen and (max-width: 1200px)
{
    div.container
    {
        width: 95%;
        margin: auto;
        background-color: #ccc;
    }
    header, section, footer
    {
        border-bottom: double 2px #000;
        padding: 5px;
    }
    div.title h1
    {
        font-size: 15px;
    }
    header ul
    {
        display: flex;
        justify-content: space-evenly;
    }
    header ul
    {
        margin-left: -40px;
    }
    header ul li a
    {
        padding: 2px 7px;
        border: solid 2px #081286;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
        font-size: 12px;
    }
    div.subtitle h2
    {
        font-size: 15px;
    }
    div.subtitle h2 img.mobile
    {
        display: inline-block;
    }
    div.subtitle h2 img.web
    {
        display: none;
    }
    footer p, footer a
    {
        font-size: 10px;
    }
}